:root {
  --bs-success-rgb: 70, 222, 152 !important;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Apple Chancery, cursive;
}

.btn-info.text-light:hover,
.btn-info.text-light:focus {
  background: #000;
}
table,
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #ededed !important;
  border-style: solid;
  border-width: 1px !important;
}

.navbar {
  background-color: #10c35d;
}

#page-container {
  margin-top: 90px;
}
